:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.flex
{
    display:flex;
}
.jcc
{
    justify-content: center;
}
.aic
{
    align-items: center;
}
.main
{
    position: absolute;
    width:100%;
    height: 100%;
    background: linear-gradient(90deg, #f598a8, #f6edb2);
}
.container
{
    position: relative;
    width: 500px;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
}
header
{
    width:100%;
    padding:20px 0px 20px 0px;
    background-color: #f598a8;
    border-radius: 11px 11px 0px 0px;
}
.title
{
    font-size:22px;
    color:#fff;
}
.description
{
    margin:30px;
    text-align: center;
}
.input__area
{
    flex-direction: column;
}
.input
{
    width:250px;
    padding: 10px;
    border: 1px solid #f598a8;
    border-radius: 5px;
}
.qrcode
{
    display: none;
    padding: 0px 0px 40px;
}
.button
{
    margin:30px;
    padding: 10px 40px;
    max-width: 230px;
    border:none;
    border-radius: 5px;
    background-color: #f598a8;
    color:#fff;
}
@media(max-width:580px){
    .container{
        width:400px;
    }
}
@media(max-width:420px){
    .container{
        width:340px;
    }
    .input{
        width:200px;
        padding: 13px;    
    }
    .button{
        margin:25px;
        padding: 13px 50px;
    }
}